# Node modules
node_modules/

# Logs
npm-debug.log*


# Coverage
coverage/
.nyc_output/

# Test results
test-results.xml
coverage-final.json

# Environment files
.env
.env.*.local
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.test


# Editor directories and files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project





# Optional: lockfiles (uncomment if you want to ignore)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml